@inherits LayoutComponentBase

@if (ShowSpinner)
{
    <div class="sb-content-overlay">
        <div class="sb-loading">
            <svg class="circular" height="40" width="40">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <style>
        #main-page {
            visibility: hidden;
            opacity: 0;
        }
    </style>
}

<div id="main-page">
    <div class="sidebar">
        <NavMenu OnSidebarCreate="@(() => { ShowSpinner = false; StateHasChanged(); })" />
    </div>
    <div id="addexpenseDialog" class="expense-dialog"></div>

    <div id="sidebarRightpane" class="sidebar-Rightpane">
        <div class="content container-fluid rightpane">
            <div class="content-wrapper">
                <div id="content">
                    @Body
                </div>
            </div>
        </div>
    </div>
<div class="footer">
    <div class="footer-container">
        <div class="footer-icon">
               <img class="footer-logo" src="styles/images/ExpenseTracker.svg" alt="Expense tracker icon" />
        </div>
        <div class="footer-content">
            <div class="title">
                <span>Want an interactive expense tracker in your app?</span>
                <span><strong> Try our Expense Tracker showcase sample</strong> — build, connect, and customize!</span>
            </div>
            <div class="buttons">
                <a href="https://www.syncfusion.com/downloads/blazor?tag=es-seo-blazor-demos-static-menu-trial" target="_blank" class="e-trial-btn e-btn" title="Free Trial Button" role="button"></a>
                <a href="https://www.syncfusion.com/request-demo?tag=blazor-server-expense-tracker-showcase" target="_blank" class="e-demo-btn e-btn" title="Request Demo Button">Request Demo</a>
            </div>
        </div>
    </div>
</div>
<style>

    .footer {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90.4deg, #154db9 0.03%, #081b3f 11.56%, #081b3f 85.56%, #154db9 99.97%);
        border: 1px solid #D8DEE9;
        z-index: 1000;
        padding: 16px;
        width: 100%;
    }

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .footer-logo {
        width: 38px;
        height: 38px;
    }

    .footer-icon {
        display: flex;
        gap: 10px;
        flex: 0 0 auto;
        width: 38px;
        height: 38px;
        align-items: center;
    }

    .footer-content .title span {
        font-weight: 400;
        font-size: 16px;
        color: #e1e3e7;
    }

    @@media screen and (max-width: 1140px), screen and (max-device-width: 1140px) {
        .footer-content .title {
            display: flex;
            flex-direction: column;
            color: white;
        }
    }

    @@media screen and (max-width: 1140px), screen and (max-device-width: 1140px) {
        .footer-content .title span, .footer-content .title span .main-title {
            font-size: 14px;
        }
    }

    .footer-content .buttons {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .footer-content .e-trial-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        background: #FFF30F;
        color: #0F172A;
        border: transparent;
        border-radius: 8px;
        padding: 10px 16px;
        font-weight: 700;
        font-family: sans-serif;
    }

    .footer-content .e-demo-btn {
        background-color: transparent;
        border: transparent;
        color: white;
        border-radius: 6px;
        padding: 10px 16px;
        font-weight: 500;
    }

    .footer-content .e-trial-btn::before {
        content: 'Start Free Trial';
        font-family: sans-serif;
    }

    .footer-content .e-trial-btn::after {
            content: '\e85f';
        font-family: 'e-icons';
    }

    .footer-content .e-demo-btn:hover {
        background-color: #173D87;
    }

    @@media screen and (max-device-width: 730px) {
        .footer {
            height: 90px;
        }

        .footer-content .buttons .e-demo-btn {
            display: none;
        }

        .footer-content .buttons .e-trial-btn::before {
            content: 'Free Trial';
            font-size:12px;
        }

        .footer-content .buttons .e-trial-btn::after {
            display: none;
        }
    }

    @@media screen and (max-width: 900px), screen and (max-device-width: 900px) {
        .footer-content .title span:last-child {
            display: none;
        }
    }
</style>
</div>
@code{
    private bool ShowSpinner = true;
}