//sass-lint:disable-all
@import 'definition/material.scss';
@import 'ej2-base/styles/material-definition.scss';
@import 'ej2-base/styles/all.scss';
@import 'ej2-base/styles/definition/_material.scss';
$accent: #4273F9;
$accent-font: #fff;
@import 'ej2-buttons/styles/button/material-definition.scss';
@import 'ej2-buttons/styles/button/all.scss';
@import 'ej2-calendars/styles/calendar/material-definition.scss';
@import 'ej2-calendars/styles/calendar/icons/material.scss';
@import 'ej2-calendars/styles/calendar/all.scss';
@import 'ej2-buttons/styles/check-box/material-definition.scss';
@import 'ej2-buttons/styles/check-box/icons/material.scss';
@import 'ej2-buttons/styles/check-box/all.scss';
@import 'ej2-navigations/styles/context-menu/material-definition.scss';
@import 'ej2-navigations/styles/context-menu/icons/material.scss';
@import 'ej2-navigations/styles/context-menu/all.scss';
@import 'ej2-calendars/styles/datepicker/material-definition.scss';
@import 'ej2-calendars/styles/datepicker/icons/material.scss';
@import 'ej2-calendars/styles/datepicker/all.scss';
@import 'ej2-calendars/styles/daterangepicker/material-definition.scss';
@import 'ej2-calendars/styles/daterangepicker/icons/material.scss';
@import 'ej2-calendars/styles/daterangepicker/all.scss';
@import 'ej2-popups/styles/dialog/material-definition.scss';
@import 'ej2-popups/styles/dialog/icons/material.scss';
@import 'ej2-popups/styles/dialog/all.scss';
@import 'ej2-dropdowns/styles/drop-down-base/material-definition.scss';
@import 'ej2-dropdowns/styles/drop-down-base/all.scss';
@import 'ej2-dropdowns/styles/drop-down-list/material-definition.scss';
@import 'ej2-dropdowns/styles/drop-down-list/all.scss';
@import 'ej2-grids/styles/grid/icons/material.scss';
@import 'ej2-grids/styles/grid/material-definition.scss';
@import 'ej2-grids/styles/grid/all.scss';
@import 'ej2-navigations/styles/h-scroll/material-definition.scss';
@import 'ej2-navigations/styles/h-scroll/icons/material.scss';
@import 'ej2-navigations/styles/h-scroll/all.scss';
@import 'ej2-inputs/styles/input/material-definition.scss';
@import 'ej2-inputs/styles/input/icons/material.scss';
@import 'ej2-inputs/styles/input/all.scss';
@import 'ej2-lists/styles/list-view/material-definition.scss';
@import 'ej2-lists/styles/list-view/icons/material.scss';
@import 'ej2-lists/styles/list-view/all.scss';
@import 'ej2-dropdowns/styles/multi-select/material-definition.scss';
@import 'ej2-dropdowns/styles/multi-select/all.scss';
@import 'ej2-inputs/styles/numerictextbox/material-definition.scss';
@import 'ej2-inputs/styles/numerictextbox/icons/material.scss';
@import 'ej2-inputs/styles/numerictextbox/all.scss';
@import 'ej2-grids/styles/pager/material-definition.scss';
@import 'ej2-grids/styles/pager/icons/material.scss';
@import 'ej2-grids/styles/pager/all.scss';
@import 'ej2-popups/styles/popup/all.scss';
@import 'ej2-buttons/styles/radio-button/material-definition.scss';
@import 'ej2-buttons/styles/radio-button/all.scss';
@import 'ej2-popups/styles/spinner/material-definition.scss';
@import 'ej2-popups/styles/spinner/all.scss';
@import 'ej2-calendars/styles/timepicker/material-definition.scss';
@import 'ej2-calendars/styles/timepicker/icons/material.scss';
@import 'ej2-calendars/styles/timepicker/all.scss';
@import 'ej2-navigations/styles/toolbar/material-definition.scss';
@import 'ej2-navigations/styles/toolbar/icons/material.scss';
@import 'ej2-navigations/styles/toolbar/all.scss';
@import 'ej2-popups/styles/tooltip/material-definition.scss';
@import 'ej2-popups/styles/tooltip/icons/material.scss';
@import 'ej2-popups/styles/tooltip/all.scss';
@import 'ej2-inputs/styles/slider/material-definition.scss';
@import 'ej2-inputs/styles/slider/all.scss';
