$accent: #ff4081;
$accent-font: #fff;

$primary: #3f51b5;
$primary-50: lighten($primary, 38%);
$primary-100: lighten($primary, 31%);
$primary-200: lighten($primary, 19%);
$primary-300: lighten($primary, 8%);
$primary-font: #fff;
$primary-50-font: #000;
$primary-100-font: #000;
$primary-200-font: #000;
$primary-300-font: #fff;
$grey-white: #fff;
$grey-black: #000;
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-500: #9e9e9e;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;
$grey-dark: #303030;
$grey-light-font: #000;
$grey-dark-font: #fff;
$base-font: #000;
$error-font: #f44336;
