.e-app-mainpage {
   background: linear-gradient(-141deg, #FBFAFF 14%, #FBFAFF 100%);
}

#title {
    position: absolute;
    color: #5851e1;
    top: calc(50% - 141.34px);
    left: calc(50% - 236.78px);
    margin-bottom: 20px;
}

#description {
    position: absolute;
    color: #474747;
    font-size: 16px;
    top: calc(50% - 78px);
    left: calc(50% - 142.15px);
}

@media (max-width: 500px) {
    #title {
        font-size: 22px;
        top: calc(50% - 133.34px);
        left: calc(50% - 173.64px);
    }
}

@media (max-width: 400px) {
    #title {
        font-size: 18px;
        top: calc(50% - 120.34px);
        left: calc(50% - 142.07px);
    }

    #description {
        font-size: 13px;
        top: calc(50% - 70px);
        left: calc(50% - 115.5px);
    }
}

.sb-content-overlay {
    z-index: 10000022;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
    pointer-events: none;
    left: 0px;
}

.sb-content-overlay.sb-hide {
    display: none;
}

.sb-loading {
    width: 56px;
    height: 56px;
    position: absolute;
    top: calc(50% - 28px);
    left: calc(50% - 28px);
    z-index: 10000;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    display: inline-block;
    background: white;
}

.sb-loading.initial {
    box-shadow: none;
}

.circular {
    animation: rotate 2s linear infinite;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #5851e1;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}


